:root {
  --primary-clr: #2FA9C7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-clr);
  border-radius: 50px;
}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  background-color: #DFEBED;
}

/* Navbar start */
a,
a:hover {
  text-decoration: none;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #106a80;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  z-index: 1000;
}

nav a {
  color: #fff;
}

nav a:hover {
  color: #2FA9C7;

}

.nav-logo {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
}

.nav-logo a {
  text-decoration: none;
}

.nav-logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.nav-logo a:hover {
  color: #fff;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.menu li {
  padding: 15px 10px;
  font-size: 16px;
}

nav .menu li:hover {
  background-color: #2FA9C7;
}

nav .menu li:hover a {
  color: #fff;
}


.toggle {
  font-size: 30px;
  display: none;
}

@media screen and (max-width: 800px) {
  nav {
    padding: 15px 20px;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
    display: none;
  }

  .menu.active {
    display: flex;
  }

  .toggle {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    cursor: pointer;
  }
}

/*  Navbar end  */

/* Dashboard Start */

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .3);
  padding: 10px 20px;
  justify-content: center;
  margin-top: 20px;
  margin-left: 1%;
  margin-right: 1%;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 998;

}

.search-bar input {
  width: 400px;
  height: auto;
  outline: none;
  border: none;
  font-weight: 500;
  background: transparent;
}

.search-bar button {
  background: none;
  border: none;
  cursor: pointer;
}

.search-bar button i {
  font-size: 20px;
  color: #2FA9C7;
}


#box1,
#box2,
#box3 {
  display: inline-block;
  background-color: #168aa6;
  width: 30%;
  height: 60vh;
  border-radius: 20px;
  margin: 1vh;
}


.tab-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

@media screen and (max-width: 800px) {

  #box1,
  #box2,
  #box3 {
    width: 90%;
    margin: 20px auto;
    position: relative;
    top: 120px;
    z-index: 0;
  }
}

/* Dashboard End */

/* My Plans Styles Start */

.myPlans {
  width: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myPlans-title {
  text-align: center;
  margin-bottom: 20px;
}

.myPlans-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.myPlans-plans {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.myPlans-plans ul {
  list-style-type: none;
  padding: 0;
}

.myPlans-plans li {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.myPlans-plans li:last-child {
  border-bottom: none;
}

.myPlans-plans a {
  color: var(--primary-clr);
  font-weight: 500;
}

.myPlans-items {
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* Adjust width as necessary */
  margin-bottom: 20px;
}

.myPlans-items a button {
  padding: 10px 20px;
  background-color: var(--primary-clr);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.myPlans-items a button:hover {
  background-color: #106a80;
}

@media screen and (max-width: 800px) {
  .myPlans-container {
    flex-direction: column;
  }

  .myPlans-items {
    flex-direction: column;
  }

  .myPlans-items a button {
    margin-bottom: 10px;
  }
}

/* My Plans Styles End */

/* Plan and Workout Management Styles */

.createPlan,
.deletePlan,
.createWorkout,
.deleteWorkout {
  width: 90%;
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.createPlan h1,
.deletePlan h1,
.createWorkout h1,
.deleteWorkout h1 {
  color: var(--primary-clr);
  text-align: center;
  margin-bottom: 20px;
}

.createPlan form,
.deletePlan form,
.createWorkout form,
.deleteWorkout form {
  display: flex;
  flex-direction: column;
}

.createPlan form input[type="text"],
.createPlan form select,
.deletePlan form input[type="text"],
.deletePlan form select,
.createWorkout form input[type="text"],
.createWorkout form select,
.deleteWorkout form input[type="text"],
.deleteWorkout form select {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.createPlan form input[type="submit"],
.createPlan form input[type="reset"],
.deletePlan form input[type="submit"],
.deletePlan form input[type="reset"],
.createWorkout form input[type="submit"],
.createWorkout form input[type="reset"],
.deleteWorkout form input[type="submit"],
.deleteWorkout form input[type="reset"] {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: var(--primary-clr);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.createPlan form input[type="submit"]:hover,
.createPlan form input[type="reset"]:hover,
.deletePlan form input[type="submit"]:hover,
.deletePlan form input[type="reset"]:hover,
.createWorkout form input[type="submit"]:hover,
.createWorkout form input[type="reset"]:hover,
.deleteWorkout form input[type="submit"]:hover,
.deleteWorkout form input[type="reset"]:hover {
  background-color: #106a80;
}

/* Plan and Workout Management Styles End */




/* login register start */

.login-registation-wrapper {
  width: 420px;
  color: black;
}

.login-registation-wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.login-registation-wrapper h2 {
  font-size: 30px;
  text-align: center;
}

img {
  width: 150px;
  height: 150px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.login-registation-wrapper .login-registration-input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.login-registration-input-box input {
  width: 100%;
  height: 100%;
  background: white;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 15px;
  text-align: left;
  font-size: 16px;

  padding: 20px 45px 20px 20px;
}

.login-registration-input-box::placeholder {
  color: #fff;
}

.login-registration-input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.login-registation-wrapper .remember-forget {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forget label input {
  accent-color: #fff;
  margin-right: 3px;
}

.remember-forget a {
  columns: #fff;
  text-decoration: none;
  color: #2CA4FB;
}

.remember-forget a:hover {
  text-decoration: underline;

}

.login-registation-wrapper .btn {
  width: 100%;
  height: 45px;
  background: #2FA9C7;
  border: none;
  outline: none;
  border-radius: 15px;
  box-shadow: 0, 0, 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.login-registation-wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;

}

.register-link p a {
  color: #2CA4FB;
  text-decoration: none;
}

.register-link p a:hover {
  text-decoration: underline;
}

/* login register end */

/*  Calendar Page Start  */

.calendar_container {
  position: relative;
  width: 1200px;
  min-height: 850px;
  margin: 0 auto;
  padding: 5px;
  color: #fff;
  display: flex;

  border-radius: 10px;
  background-color: #373c4f;
}

.calendar_left {
  width: 60%;
  padding: 20px;
}

.calendar {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #878895;
  border-radius: 5px;
  background-color: #fff;
}

.calendar::before,
.calendar::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 12px;
  height: 97%;
  border-radius: 0 5px 5px 0;
  background-color: #d3d4d6d7;
  transform: translateY(-50%);
}

.calendar::before {
  height: 94%;
  left: calc(100% + 12px);
  background-color: rgb(153, 153, 153);
}

.calendar .month {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
}

.calendar .month .prev,
.calendar .month .next {
  cursor: pointer;
}

.calendar .month .prev:hover,
.calendar .month .next:hover {
  color: var(--primary-clr);
}

.calendar .weekdays {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}

.weekdays div {
  width: 14.28%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar .days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.calendar .days .day {
  width: 14.28%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--primary-clr);
  border: 1px solid #f5f5f5;
}

.calendar .days .day:nth-child(7n + 1) {
  border-left: 2px solid #f5f5f5;
}

.calendar .days .day:nth-child(7n) {
  border-right: 2px solid #f5f5f5;
}

.calendar .days .day:nth-child(-n + 7) {
  border-top: 2px solid #f5f5f5;
}

.calendar .days .day:nth-child(n + 29) {
  border-bottom: 2px solid #f5f5f5;
}

.calendar .days .day:not(.prev-date, .next-date):hover {
  color: #fff;
  background-color: var(--primary-clr);
}

.calendar .days .prev-date,
.calendar .days .next-date {
  color: #b3b3b3;
}

.calendar .days .active {
  position: relative;
  font-size: 2rem;
  color: #fff;
  background-color: var(--primary-clr);
}

.calendar .days .active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 2px var(--primary-clr);
}

.calendar .days .today {
  font-size: 2rem;
}

.calendar .days .plan {
  position: relative;
}

.calendar .days .plan::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 75%;
  height: 6px;
  border-radius: 30px;
  transform: translateX(-50%);
  background-color: var(--primary-clr);
}

.calendar .days .day:hover.plan::after {
  background-color: #fff;
}

.calendar .days .active.plan::after {
  background-color: #fff;
  bottom: 20%;
}

.calendar .days .active.plan {
  padding-bottom: 10px;
}

.calendar .goto-today {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 0 20px;
  margin-bottom: 20px;
  color: var(--primary-clr);
}

.calendar .goto-today .goto {
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid var(--primary-clr);
}

.calendar .goto-today .goto input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 20px;
  color: var(--primary-clr);
  border-radius: 5px;
}

.calendar .goto-today button {
  padding: 5px 10px;
  border: 1px solid var(--primary-clr);
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  color: var(--primary-clr);
}

.calendar .goto-today button:hover {
  color: #fff;
  background-color: var(--primary-clr);
}

.calendar .goto-today .goto button {
  border: none;
  border-left: 1px solid var(--primary-clr);
  border-radius: 0;
}

.calendar_container .calendar_right {
  position: relative;
  width: 40%;
  min-height: 100%;
  padding: 20px 0;
}

.calendar_right .today-date {
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  padding-left: 70px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.calendar_right .today-date .plan-day {
  font-size: 2rem;
  font-weight: 500;
}

.calendar_right .today-date .plan-date {
  font-size: 1rem;
  font-weight: 400;
  color: #878895;
}

.plans {
  width: 100%;
  height: 100%;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-left: 4px;
}

.plans .plan {
  position: relative;
  width: 95%;
  min-height: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 0 20px;
  padding-left: 50px;
  color: #fff;
  background: linear-gradient(90deg, #3f4458, transparent);
  cursor: pointer;
}

.plans .plan:nth-child(even) {
  background: transparent;
}

.plans .plan:hover {
  background: linear-gradient(90deg, var(--primary-clr), transparent);
}

.plans .plan .title {
  display: flex;
  align-items: center;
  pointer-events: none;
}

.plans .plan .title .plan-title {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 20px;
}

.plans .plan i {
  color: var(--primary-clr);
  font-size: 0.5rem;
}

.plans .plan:hover i {
  color: #fff;
}

.plans .plan .plan-time {
  font-size: 0.8rem;
  font-weight: 400;
  color: #878895;
  margin-left: 15px;
  pointer-events: none;
}

.plans .plan:hover .plan-time {
  color: #fff;
}

.plans .plan::after {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 3rem;
  line-height: 1;
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
  color: var(--primary-clr);
  transform: translateY(-50%);
}

.plans .plan:hover::after {
  display: flex;
}

.add-plan {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #878895;
  border: 2px solid #878895;
  opacity: 0.5;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.add-plan:hover {
  opacity: 1;
}

.add-plan i {
  pointer-events: none;
}

.plans .no-plan {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: #878895;
}

.add-plan-wrapper {
  position: absolute;
  bottom: 100px;
  left: 50%;
  width: 90%;
  max-height: 0;
  overflow: hidden;
  border-radius: 5px;
  background-color: #fff;
  transform: translateX(-50%);
  transition: max-height 0.5s ease;
}

.add-plan-wrapper.active {
  max-height: 300px;
}

.add-plan-header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: #373c4f;
  border-bottom: 1px solid #f5f5f5;
}

.add-plan-header .close {
  font-size: 1.5rem;
  cursor: pointer;
}

.add-plan-header .close:hover {
  color: var(--primary-clr);
}

.add-plan-header .title {
  font-size: 1.2rem;
  font-weight: 500;
}

.add-plan-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
}

.add-plan-body .add-plan-input {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.add-plan-body .add-plan-input input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #f5f5f5;
  padding: 0 10px;
  font-size: 1rem;
  font-weight: 400;
  color: #373c4f;
}

.add-plan-body .add-plan-input input::placeholder {
  color: #a5a5a5;
}

.add-plan-body .add-plan-input input:focus {
  border-bottom: 1px solid var(--primary-clr);
}

.add-plan-body .add-plan-input input:focus::placeholder {
  color: var(--primary-clr);
}

.add-plan-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.add-plan-footer .add-plan-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  border: none;
  color: #fff;
  background-color: var(--primary-clr);
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid var(--primary-clr);
}

.add-plan-footer .add-plan-btn:hover {
  background-color: transparent;
  color: var(--primary-clr);
}

/*  Calendar Page End  */